.leaderboard-navbar {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.info-button {
  background-color: #1E2939;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  font-size: 14px;
  color: white;
  column-gap: 8px;
  transform-origin: center;
  border-radius: 6px;
  transition: background-color 0.15s, transform 0.2s;
  cursor: pointer;
}

.info-button img {
  width: 15px;
}

.info-button:hover {
  background-color: #1C2634;
}

.info-button:active {
  transform: scale(0.95);
}